body{
font-family:Arial;
background:#f5f6f7;
color:#222;
}

.hero{
padding:40px;
background:white;
text-align:center;
box-shadow:0 3px 10px rgba(0,0,0,0.05);
}

.card{
background:white;
margin:15px;
padding:20px;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

a{
background:black;
color:white;
padding:10px;
text-decoration:none;
border-radius:5px;
}




